Source: ros-lyrical-urdf
Section: misc
Priority: optional
Maintainer: Alejandro Hernandez Cordero <alejandro@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), libtinyxml2-dev, ros-lyrical-ament-cmake-google-benchmark <!nocheck>, ros-lyrical-ament-cmake-ros, ros-lyrical-ament-lint-auto <!nocheck>, ros-lyrical-ament-lint-common <!nocheck>, ros-lyrical-pluginlib, ros-lyrical-rcutils, ros-lyrical-urdf-parser-plugin, ros-lyrical-urdfdom, ros-lyrical-urdfdom-headers, ros-lyrical-ros-workspace
Homepage: https://index.ros.org/p/urdf/#lyrical
Standards-Version: 3.9.2

Package: ros-lyrical-urdf
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libtinyxml2-dev, ros-lyrical-pluginlib, ros-lyrical-rcutils, ros-lyrical-urdf-parser-plugin, ros-lyrical-urdfdom, ros-lyrical-urdfdom-headers, ros-lyrical-ros-workspace
Description: This package contains a C++ parser for the Unified Robot Description Format (URDF), which is an XML format for representing a robot model.
 The code API of the parser has been through our review process and will remain backwards compatible in future releases.
